text.month {
    fill: #767676;
    font-size: 10px;
}

text.wday {
    fill: #767676;
    font-size: 9px;
}

body {
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
}

.userGraph{
  overflow: hidden;
}

svg{
  float: right;
}

.user_graph_phone{
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 525px) {
  .userGraph{
    display: none;
  }
  .user_graph_phone{
    display: unset;
    overflow: hidden;
    width: 80vw;
  }
}
