.profile_pic{
  max-width: 120px;
  max-height: 120px;
}

.user_wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5px 25px 25px;
  border: 1px solid black;
}

.user_left{
  display: flex;
  justify-content: space-between;
}

.user_right{
  padding-right: 25px;
}

.user_photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}
